# Bytecode and caches
__pycache__/
*.pyc
*.pyo

# Models & data
models/
data/
features/
web_app/temp_files/

# Whisper cache
~/.cache/
*.wav

# IDE & system files
.vscode/
.DS_Store

# Streamlit stuff
.streamlit/
